
body{
	background: url("../images/ep_naturalblack.png");
	margin-left: 100px;
	margin-right: 200px;
}

img
{
	padding-top: 30px;
	padding-left: 20px;
	height: 180px;
	width: 300px;
	padding-right: 10px;
}

.jumbotron
{
text-align: center;
background-color: black;
background: url("../images/ep_naturalblack.png");
text-shadow: 4px 4px 4px orange;
}
 .jumbotron h1{
 	/*content: linear-gradient(red, yellow); */
 	font-size: 100px;
 }

 .main-section
  {
 	/*border:2px dotted white;*/
 	padding-right: 0;

 	 }

 	 #connect
 	 {
 	 	/*border:2px dotted white;*/
 	 	content: white;
 	 	padding-left: 0;
 	 		 }
.col-md-6
{
	border:2px dotted white;
}

/*.col-md-5
{
	padding-right: 0;
	width: 40%;
}*/
/*.row{
	overflow: hidden;

}
[class*="col-"]
{
	margin-bottom: -999999px;
	padding-bottom: -999999px;
}*/

.fontDisplay
{
	padding-left: 50px;
	color: white;
}

#word
{
	font-size: 50px;
}

#word1{
	font-size: 40px;
}

/*.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}*/
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

